  <div class="container" id="footer">
      <style>
          #footer{
              color: #888888;
              border-top: 1px solid #eeeeee;
              margin-top: 16px;
              padding: 16px 0;
          }
      </style>
      <p class="text-muted mb-5"></p>
      <p class="text-muted">Check weather in your country/city cheerss!</p>
  </div>
 </body>
  <script>
        $(document).ready(function() {
            $(".lds-roller").hide();
        });

        $(document).ready(function(){
        $("#myform").on("submit", function(){
        $(".lds-roller").fadeIn()
  });
});

    </script>
 <script src="/js/app.js"></script>

</html>